* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    /* position: relative; */
  }
  
  #admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 3px 0px 2px rgb(216, 215, 215);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
  }
  
  #admin-header .right-side-info ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .right-side-info ul li {
    list-style: none;
    font-weight: bold;
  }
  
  .right-side-info img {
    cursor: pointer;
  }
  
  #admin-header {
    padding: 0px 10px;
  }
  
  .hamburger {
    font-size: 26px;
    margin-right: 12px;
    cursor: pointer;
  }
  
  .admin-main-ciontainer {
    display: flex;
    /* margin-top: 70px; Adjust based on header height */
    width: 100vw;
    /* height: calc(100vh - 70px);  */
    height: 100vh;
  }
  
  .sidebar {
    width: 18%;
    /* height: 89vh; */
    background-color: rgb(235, 236, 234);
    transition: left 0.3s ease;
    position: fixed;
    top: 70px;
    /* Adjust based on header height */
    bottom: 0;
    padding-top: 20px;
    z-index: 1;
  }
  
  .sidebar h2 {
    text-align: center;
    padding-top: 15px;
  }
  
  .sidebar ul li {
    list-style: none;
    margin: 40px 10px;
    cursor: pointer;
    font-size: 18px;
    padding: 6px;
  }
  
  .sidebar ul li:hover {
    background-color: #F3BD00;
  }
  
  .sidebar ul li i {
    margin-right: 6px;
  }
  
  .admin-logout-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
  }
  
  .admin-logout-btn button {
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    border: none;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .main-content-info {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 4px gainsboro;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .admin-main-ciontainer .title {
    width: 100%;
    border-bottom: 2px solid gray;
  }
  
  .title h1 {
    text-align: center;
    margin-top: 67px;
    margin-bottom: 15px;
  }
  
  #question-input {
    width: 50%;
  }
  
  #add-new-question-btn {
    background-color: rgb(78, 211, 78);
    position: absolute;
    width: 200px;
    right: 40px;
    top: 90px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  #logout-container {
    position: absolute;
    width: 250px;
    top: 80px;
    right: 20px;
    text-align: center;
    box-shadow: 0px 0px 4px gray;
    border-radius: 8px;
    display: none;
  }
  
  #logout-container p {
    margin: 10px 0px 10px 0px;
    font-size: 18px;
  }
  
  #logout-container #logout-button {
    width: 50%;
    padding: 6px;
    border-radius: 30px;
    background-color: #F3BD00;
    font-size: 17px;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
  }
  
  .right-sidebar {
    width: 82%;
    position: relative;
    width: calc(100% - 18%);
    /* Adjust based on sidebar width */
    padding: 20px;
    overflow-y: auto;
    height: 100%;
  }
  
  .table {
    width: 75%;
    position: absolute;
    top: 135px;
    left: 58%;
    transform: translateX(-50%);
    border-collapse: collapse;
    font-size: 18px;
  }
  
  .table th,
  .table td {
    border: 1px solid #000;
    padding: 6px 6px;
  }
  
  .table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .table th:nth-child(1),
  .table td:nth-child(1) {
    width: 30px;
    text-align: center;
    padding: 6px;
  }
  
  .table th:nth-child(2),
  .table td:nth-child(2) {
    width: auto;
    text-align: center;
  }
  
  .table th:nth-child(3),
  .table td:nth-child(3) {
    width: 120px;
    text-align: center;
  }
  
  td i {
    cursor: pointer;
  }
  
  .trashs {
    margin: 8px 13px 8px 13px;
    color: red;
  }
  
  .pen {
    color: green;
  }
  
  .open-eye {
    color: blue;
  }
  
  #cross-icon {
    position: absolute;
    right: 15px;
    top: 10px;
  }
  
  #add-new-question {
    width: 50%;
    box-shadow: 0px 0px 4px gray;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 100px;
    left: 260px;
    /* padding-top: 28px; */
    padding-left: 18px;
    z-index: 1001;
  }
  
  #add-new-question h1 {
    margin-bottom: 12px;
    font-size: 32px;
    text-align: center;
  }
  
  .form {
    position: relative;
     left: 25%; 
  }
  
  .options input {
    width: 50%;
    margin-bottom: 15px;
    margin-top: 5px;
    box-shadow: 0px 0px 3px gray;
    border-radius: 4px;
    padding: 5px;
    border: none;
  }
  
  #add-question-btn {
    width: 300px;
    padding: 6px;
    background: #F3BD00;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .question-details {
    width: 350px;
    background-color: #fff;
    box-shadow: 0px 0px 4px white;
    border-radius: 8px;
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translateX(-50%);
    padding: 8px;
    z-index: 1001;
  }
  
  .question-details h1 {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  .question-details p {
    margin-bottom: 12px;
  }
  
  .question-details ol {
    padding-left: 20px;
  }
  
  .question-details ol li {
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  .cross-icon {
    position: relative;
    right: -465px;
    top: -50px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .main-content {
    width: 100%;
  
  }
  
  .table-two,
  .table-three {
    border-collapse: collapse;
    margin: 10px auto;
    position: absolute;
    top: 130px;
    left: 284px;
    width: 75%;
  }
  #user-name{
    text-align: center;
    margin-top: 10px;
  }
  #user-email{
    text-align: center;
  }
  .table-two th,
  .table-two td {
    border: 1px solid #000;
    padding: 6px 6px;
  }
  
  .table-two th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .table-two th:nth-child(1),
  .table-two td:nth-child(1) {
    width: 30px;
    text-align: center;
    padding: 6px;
  }
  
  .table-two th:nth-child(2),
  .table-two td:nth-child(2) {
    width: auto;
    text-align: center;
  }
  
  .table-two th:nth-child(3),
  .table-two td:nth-child(3) {
    width: auto;
    text-align: center;
  }
  
  .table-two th:nth-child(4),
  .table-two td:nth-child(4) {
    width: auto;
    text-align: center;
  }
  
  .table-two th:nth-child(5),
  .table-two td:nth-child(5) {
    width: 120px;
    text-align: center;
  }
  
  .table-two th:nth-child(6),
  .table-two td:nth-child(6) {
    width: auto;
    text-align: center;
  }
  
  .table-two a {
    color: blue;
    font-weight: bold;
  }
  
  /* .main-content .users-test-attempt{
    height: 100%;
    width: 100%;
  } */
  
  .users-test-attempt h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
  }
    
  .test-attempt-details {
    padding-top: 70px;
  }
  
  .table-three th,
  .table-three td {
    border: 1px solid #000;
    padding: 6px 6px;
  }
  
  .table-three th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .table-three th:nth-child(1),
  .table-three td:nth-child(1) {
    width: auto;
    text-align: center;
    padding: 6px;
  }
  
  .table-three th:nth-child(2),
  .table-three td:nth-child(2) {
    width: auto;
    text-align: center;
  }
  
  .table-three th:nth-child(3),
  .table-three td:nth-child(3) {
    width: auto;
    text-align: center;
  }
  
  .table-three th:nth-child(4),
  .table-three td:nth-child(4) {
    width: auto;
    text-align: center;
  }
  
  .table-three th:nth-child(5),
  .table-three td:nth-child(5) {
    width: auto;
    text-align: center;
  }
  
  
  .test-attempt-details h1 {
    text-align: center;
    font-size: 32px;
    margin: 12px 0px 20px 0px;
  }
  
  .test-attempt-details .top-information {
    display: flex;
    position: absolute;
    left: 18%;
  
  }
  
  .top-information li {
    margin-left: 100px;
    margin-bottom: 10px;
  }
  
  ul li {
    list-style: none;
    font-size: 20px;
  }
  
  .test-attempt-details .container {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0px 0px 4px gray;
    border-radius: 4px;
    margin-top: 50px;
    padding: 15px 5px 10px 10px;
    position: absolute;
    left: 20%;
  }
  
  .questions-container {
    box-shadow: 0px 0px 4px gray;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
  }
  
  .question-wrapper {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
  }
  
  .question-wrapper .question {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .container ul {
    display: flex;
    flex-direction: column;
  }
  
  .container ul li {
    margin-bottom: 6px;
  }
  
  .container .your-answer {
    font-weight: bold;
    color: red;
  }
  
  .container .correct-answer {
    font-weight: bold;
    color: green;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  
  .questions-container .question {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .question-container ul {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .question-container ul li {
    margin-bottom: 6px;
  }
  
  .question-container .your-answer {
    font-weight: bold;
    color: red;
    margin-top: 10px;
  }
  
  .question-container .correct-answer {
    font-weight: bold;
    color: green;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .active li{
    background-color: #F3BD00;
  }
  .username-email{
    display:  flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  #user-name, #user-email{
   font-size: 20px;
   margin-bottom: 5px;
  }


